/*custom property */
* {margin: .5em 1em;}

/* styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #DC143c;
}
	
/* styles for the header */
header img {float: center;}
header h2 {
	font-size: 220%;
	color: #DC143c;
	text-indent: 30px;
	text-align: center;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
	text-align: center;
}

header img {
	float: center;
}

.shadow {
	text-shadow: 2px 2px 2px var(--global-color-1);
}

/* styles for the main content */
main {
	clear: center;
}
main h1 {
	font-size: 200%;
    text-align: center;
    color: antiquewhite;
}
main h2 {
	color: var(--global-color-1);
	font-size: 130%;
	text-align: center;
}
main h3 {
	font-size: 105%;
}
nav {
    border: 2px solid black;
}

/* styles for the footer */
footer p {
	text-align: center;
}